header.profile {
  height: 400px;
  width: 100%;
  background-color: #007599;
  background-image: url('../images/swirl.png');
  color: #FFFFFF;
  margin: 120px 0 0 0 ;
}

header h2 {
  font-weight: 500;
}

header b {
  font-weight: 700;
}