nav {
  display:flex;
  width: 100%;
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: 'Source Sans 3', sans-serif;
  height: 120px;
  position: fixed;
  justify-content: space-between;
}


/* <span> within the <nav> uses Bungee as its default font-family */