nav {
  display:flex;
  width: 100%;
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: 'Source Sans 3', sans-serif;
  height: 120px;
  position: fixed;
  justify-content: space-between;
}

#logo {
  display: flex; 
  align-items: center;
  font-family:'Bungee', sans-serif;
  margin: 1.5em; 
}